* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.p1_page {
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  background-image: url("https://images.unsplash.com/photo-1588345921489-f61ad896c562?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  mix-blend-mode: multiply;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 36px;
  font-weight: 600;
}
.thala {
  color: rgb(250, 113, 50);
}
.number {
  color: rgb(49, 142, 255);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: rgb(103, 103, 103);
  font-weight: 500;

  letter-spacing: 2px;
}
.navigation p:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.search_area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search_area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid rgb(157, 156, 156);
  width: 219px;
  height: 47px;
  border-radius: 10px;
  overflow: hidden;
}
.search img {
  width: 9%;
  height: 21px;
  cursor: pointer;
}
.search input {
  width: 85%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0);
  border: none;
  outline: none;
  padding-left: 5px;
  color: white;
  font-size: 18px;
  padding-right: 5px;
}

.search input::placeholder {
  color: rgb(147, 147, 147);
}
.bucket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 47px;
  border: 1px solid rgb(157, 156, 156);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  gap: 5px;
  padding-right: 4px;
}

.bucket img {
  width: 36px;

  /* mix-blend-mode: multiply; */
}

.profile {
  height: 47px;
  width: 50px;
  background-color: rgb(235, 234, 234);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.profile img {
  width: 36px;
  mix-blend-mode: multiply;
}

.p1_body {
  height: 85%;
  /* background-color: black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_p1 {
  height: 100%;
  width: 40%;
  /* background-color: rgb(190, 167, 167); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left_p1 img {
  mix-blend-mode: multiply;
  width: 100px;
  height: 90px;
}
.left_p1 h1 {
  font-size: 80px;
}
.left_p1 p {
  width: 500px;
}

.left_p1 button {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.right_p1 {
  height: 100%;
  width: 60%;
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.right_p1 img {
  width: 80%;
  transform: rotate(28deg);
  background-color: white;
  mix-blend-mode: multiply;
}

.p1_footer {
  width: 100%;
  height: 15%;
  background-color: rgb(250, 76, 13);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.p1_footer div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 2px;
  color: white;
}

.p1_footer div h2 {
  font-size: 29px;
}

.p2_page {
  width: 100%;
  height: 100vh;
  /* background-color:rgb(187, 187, 201); */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.p2_heading {
  /* background-color: aqua; */
  margin-left: 60px;
  color: #767676;
  font-weight: 500;
}

.p2_body {
  width: 100%;
  height: 60%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.p2_body > div {
  width: 45%;
  height: 100%;

  border-radius: 7px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 20px;
}

.left_div {
  background-color: rgb(238, 236, 236);
}

.left_div img {
  width: 97%;
  mix-blend-mode: multiply;
  transform: rotate3d(2, 18, 0, 547deg);
}
.price_divv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.price_divv > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_divv > div:nth-child(2) {
  width: 150px;
  height: 60px;
  background-color: rgb(255, 253, 251);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.price_divv > div:nth-child(1) {
  width: 150px;
  height: 60px;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  color: blue;
  font-size: 30px;
  font-weight: 600;
}
.addTO_cart_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.selectNoOfProduct {
  height: 60px;
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectNoOfProduct select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68%;
  height: 100%;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: rgb(232, 232, 232);
  color: #646464;
}

.add_cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 60px;
  width: 200px;
  border-radius: 10px;
  
  background-color: #ff5313fa;
  color: white;
  font-weight: 500;
  font-size: 22px;
  

}

.scrol_shoe{
  width: 100%;
  height: 17%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  


}
.scrol_shoe:hover {
  overflow-x: scroll;

 

}



.scrol_shoe div{
  width: 200px;
  height: 90px;
   background-color: rgb(238, 236, 236);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 12px;
    flex-shrink: 0; 
    
   
}
.scrol_shoe div img{
  width: 87%;
  height: 59%;
  mix-blend-mode: multiply;

}

.scrol_shoe div:nth-child(1) img {
  transform: rotate3d(2, 18, 0, 547deg);
}

.scrol_shoe div:nth-child(2) img {
  transform: rotate3d(1, 10, 0, 420deg);
}

.scrol_shoe div:nth-child(3) img {
  transform: rotate3d(3, 15, 0, 600deg);
}

.scrol_shoe div:nth-child(4) img {
  transform: rotate3d(1, 20, 0, 480deg);
}

.scrol_shoe div:nth-child(5) img {
  transform: rotate3d(0, 25, 0, 530deg);
}

.scrol_shoe div:nth-child(6) img {
  transform: rotate3d(2, 18, 1, 550deg);
}

.scrol_shoe div:nth-child(7) img {
  transform: rotate3d(1, 15, 1, 500deg);
}

.scrol_shoe div:nth-child(8) img {
  transform: rotate3d(0.5, 10, 1, 570deg);
}

.scrol_shoe div:nth-child(9) img {
   transform: rotate3d(1, 12, 0.5, 510deg);
}
 